@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

body{
  background-color: rgb(0, 0, 0);
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.ADVAIT{
  color: rgb(255, 255, 255);
  font-size: 200px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Raleway Dots";
}

.glow-gradient {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 250px; /* adjust height */

  /* Rainbow gradient */
  background: linear-gradient(
    to top,
    rgba(255, 100, 0, 0.7),
    rgba(0, 255, 0, 0.6),    /* green */
    rgba(0, 255, 255, 0.6),  /* cyan */
    rgba(0, 0, 255, 0.5),    /* blue */
    rgba(255, 0, 255, 0.4),  /* magenta */
    rgba(255, 0, 0, 0.8),     /* red */
    transparent
  );

  /* Heavy blur for glow */
  filter: blur(85px);

  /* Optional: animate or scale */
  transform: translateY(50px);
}
